.single-die {
    width: 100%;
}

.dice {
    display: grid;
    grid-template-columns: 5.5% .5% 5.5%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    text-align: center;
    justify-content: center;
}

@media (max-height: 800px) {
    .dice {
        grid-template-columns: 4% .5% 4%;
    }
}

@media (max-height: 500px) {
    .dice {
        grid-template-columns: 3% .5% 3%;
    }
}