.actions-bar {
    width: 100%; /* Adjust based on parent size or specific requirement */
    height: 100%; /* Adjust based on parent size or specific requirement */
    position: relative;
    align-items: center;
}

.inner-box {
    width: 99.7%; /* Slightly less than 100% due to border considerations */
    height: 99.7%; /* Adjust based on actions-bar height minus borders if any */
    position: absolute;
    background: white;
}

.absolute-container {
    width: 100%; /* Ensure it spans the full width of its parent */
    height: auto; /* Adjust based on content, could also use 100% if filling parent */
}

.inner-container {
    margin-left: 25%;
    width: 70%;
    padding: 2% 0%;
    background-color: hsla(0, 0%, 100%, 0.3);
}

.line {
    margin: 0 auto;
    width: 50%; /* Span the full width of its parent */
    border-top: 1px solid #767676; /* Use border-top or border-bottom for a line */
}

.line-thick {
    border-top: 2px solid black; /* Use border-top for consistency */
    width: 100%; 
}

.text, .text-bold {
    color: black;
    font-size: 2vw; /* Adjust based on viewport width, or use % if relative to parent */
    font-family: 'Inter';
    font-weight: 400; /* 700 for .text-bold */
    word-wrap: break-word;
}

.text-bold {
    font-weight: 700;
}

.indented-text {
    margin: 1vh 0;
}
