.personalCards {
  height: 198px;
  width: 255px;
  margin: auto;
  overflow: visible;
  display: flex;
  flex-flow: row wrap;
  bottom: 0;
}

.victoryPointBackground {
  width: 134px;
  height: 118px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #c3332b;
  border-radius: 25px;
}

.victoryPointsLabel {
  width: 76px;
  height: 42px;
  left: 29px;
  top: 61px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: Inter;
  font-weight: 700px;
  word-wrap: break-word;
}

.victoryPointsNumber {
  width: 105px;
  height: 35px;
  left: 15px;
  top: 13px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}

.resourceCard {
  height: 94px;
  width: 75px;
  border-radius: 10px;
  border: 1px solid black;
  left: 0px;
  top: 0px;
  display: flex;
  flex-flow: row wrap;
  border: 5px white solid;
}

.resourceImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
}

.backgroundCircle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: auto;
  position: relative;
  background: white;
}

.cardNumber {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  line-height: 94px;
  color: black;
  font-size: 35;
  font-family: Inter;
  font-weight: 500px;
  word-wrap: break-word;
}
