.join-room-with-code {
  left: 40vw;
  top: 0px;
  width: 60vw;
  height: 100vh;
  float: right;
}

.header-box {
  top: 10vh;
  width: 40vw;
  height: 15vh;
  background: #c3332b;
  border-radius: 129px;
  margin: 0 auto;
  position: relative;
}

.header-text {
  color: #fdfdfd;
  margin: 0 auto;
  transform: translateY(+50%);
  font-size: 70px;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.main-content-box {
  top: 20vh;
  width: 40vw;
  height: 55vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #c3332b;
  border-radius: 129px;
  margin: 0 auto;
}

.players-in-room {
  color: #fdfdfd;
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
  font-family: Inter;
  font-weight: 375;
  word-wrap: break-word;
  line-height: 10vh;
}

.buttons {
  width: 85%;
  display: flex;
}
.leave-button,
.ready-button {
  width: 9vw;
  height: 6vh;
  margin: 0 auto;
  display: inline;
  border-radius: 10px;
  font-size: 30px;
  font-family: Inter;
  border: none;
  color: white;
  font-weight: 700;
}

.leave-button {
  background-color: #636363;
}

.ready-button {
  background-color: #f7c84f;
}
