/* Individual Menu buttons */
.toggleButton {
  width: 20vw;
  height: 10vh;
  border-radius: 20px;
  border: none;
  font-size: 30px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  opacity: 0.9;
  color: #4c4c4c;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.toggleButton:active {
  color: black;
  opacity: 1;
  background-color: white;
}
.toggleButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.game-id-container {
  display: grid;
  height: 100%;
  grid-template-columns: 75% 25%;
}

.form-game-id {
  height: 100%;
}

.input-game-id {
  text-align: center;
  font-size: 30px;
  font-family: Inter;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  outline: 0px;
}

.button-game-id {
  margin: auto;
  height: 100%;
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
  font-size: 35px;
}

.button-game-id:hover {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Menu Options Container Styles */
.toggleButtonContainer {
  position: relative;
  width: fit-content;
  top: 52%;
  transform: translateY(-50%);
  height: fit-content;
  margin: auto;
  display: grid;
  grid-row-gap: 2vh;
  grid-template-rows: 33% 33% 33%;
}

@media (max-width: 1240px) {
  .toggleButton {
    height: 12vh;
  }
}

@media (max-width: 715px) {
  .toggleButton {
    height: 15vh;
  }
}
@media (max-height: 690px) {
  .toggleButton {
    width: 30vw;
  }
}
