.Profile {
  align-items: flex-end;
  height: 100%;
  width: 60%;
  position: relative;
}

.backgroundRectangle {
  width: 461px;
  height: 643px;
  left: 9px;
  top: 0px;
  background: #c3332b;
  border-radius: 129px;
}

.avatar {
  height: 15vh;
  top: 1vh;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 129px;
}

.stats {
  position: relative;
  color: white;
  font-size: 25px;
  font-family: Inter;
  font-weight: 400px;
  word-wrap: break-word;
}

.individual-stat {
  color: white;
  font-size: 25px;
  font-family: Inter;
  font-weight: 400px;
  margin-block-start: 1vh;
  margin-block-end: 0;
  word-wrap: break-word;
  text-align: center;
}

.playerName {
  position: relative;
  color: white;
  font-size: 40px;
  font-family: Inter;
  padding: 2vh;
  font-weight: 400px;
  word-wrap: break-word;
}
