.backgroundRectangle {
  width: 461px;
  height: 643px;
  left: 9px;
  top: 0px;
  position: absolute;
  background: #c3332b;
  border-radius: 129px;
}

.avatar {
  width: 282px;
  height: 286px;
  padding-top: 85.73px;
  padding-bottom: 85.9px;
  padding-left: 84.82px;
  padding-right: 84.41px;
  left: 0px;
  top: 0px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.stats {
  width: 309px;
  height: 374px;
  left: 83px;
  top: 269px;
  position: absolute;
  color: white;
  font-size: 25px;
  font-family: Inter;
  font-weight: 400px;
  word-wrap: break-word;
}

.playerName {
  width: 184px;
  height: 73px;
  left: 38%;
  top: 10%;
  position: relative;
  color: white;
  font-size: 40px;
  font-family: Inter;
  font-weight: 400px;
  word-wrap: break-word;
}

.stats {
  width: 309px;
  height: 374px;
  left: 83px;
  top: 269px;
  position: absolute;
  color: white;
  font-size: 25px;
  font-family: Inter;
  font-weight: 400px;
  word-wrap: break-word;
}
