@keyframes onEmptyHover {
    0% {filter: brightness(100%)};
    100% {filter: brightness(50%)};
  }

.steal-modal {
    height: 50vh;
    width: 50vw;
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    z-index: 5;
    background-color: hsla(0, 0%, 100%, 1);
    outline: 5px solid rgb(60, 0, 0);
    text-align: center;
    display: grid;
    grid-template-rows: 10% 10% 50% 30%;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.header {
    color: black;
    font-size: 2vw; 
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    padding: 1vh;
    margin-top: .5%;
}

.description {
    display: flex;
    font-style: italic;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.players {
    margin: auto;
    margin-top: 4%;
    display: grid;
    grid-template-columns: 100%;
    width: 30%;
    height: auto;
}

.two {
    width: 70%;
    grid-template-columns: 50% 50%;
}

.three {
    width: 90%;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.stealButtons {
    text-align: center;
    justify-content: center;
    margin: auto 0%;
}

.affirmSteal, .denySteal {
    margin: 0% 5%;
    height: 6vh;
    width: 25%;
    text-align: center;

    font-size: 1.5vw; 
    word-wrap: break-word;
    font-style: bold;

    border: 1px solid rgb(60, 0, 0);
    border-radius: 10px;
}

.affirmSteal {
    background-color: rgb(139, 255, 139);
}

.affirmSteal:hover {
    animation-name: onAffirmHover;
    animation-duration: .05s;
    animation-timing-function: linear;
    cursor: pointer;  
    background-color: rgb(86, 158, 86);
}

.denySteal {
    background-color: rgb(255, 121, 121); 
}

.denySteal:hover {
    background-color: rgb(165, 76, 76); 
    animation-name: onCancelHover;
    animation-duration: .05s;
    animation-timing-function: linear;
    cursor: pointer;  
}

.dark {
    background-color: rgb(86, 158, 86);
}

.dark:hover {
    animation-duration: 0s;
    cursor: default;
}

.player:hover {
    filter: brightness(50%);
    animation-name: onEmptyHover;
    animation-duration: .05s;
    animation-timing-function: linear;
    cursor: pointer;
}

.chosen {
    filter: brightness(30%);
}

.chosen:hover {
    filter: brightness(30%);
    animation-duration: 0s;
}

.disabled {
    display: none;
}

@media (max-height: 750px) {
    .players {
        margin: auto;
        margin-top: 2%;
    }

    .two {
        width: 60%;
    }
    
    .three {
        width: 80%;
    }
}

@media (max-height: 520px) {
    .players {
        margin: auto;
        margin-top: 2%;
    }

    .two {
        width: 50%;
    }
    
    .three {
        width: 80%;
    }
}